<div class="row">
  <% pin.each do |gif| %>
    <div class="col-xs-3">
      <%= render partial: 'show', :locals => {:gif => gif} %>
      <%= render partial: "pin", :locals => {:gif => gif} %>
      <%= render partial: 'pins/tags', :locals => {:gif => gif} %>
    </div>
  <% end %>
</div>
