<div class="panel-body" id="updatescore">
  <p class="lead"><%= gif.title %></p>
  <p><%= pluralize(gif.score, "vote") %></p>
  <p>
    <% gif.tags.any? %>
      <% gif.tags.each do |tag| %>
        <%= link_to tag.name, tags_path(tag.name), remote: true %>
      <% end %>
  </p>
</div>
