
.modal-body {
  text-align: center;
}

.modal-footer {
  text-align: center;
}

hr {border-color:#ececec;}
button {
	outline: 0;
}
textarea {
  resize: none;
  outline: 0;

}
.panel .btn i,.btn span{
  color:#666666;
}
.panel .panel-heading {
  background-color:#ffffff;
  font-weight:700;
  font-size:16px;
  color:#262626;
  border-color:#ffffff;
}
.panel .panel-heading a {
  font-weight:400;
  font-size:11px;
}
.panel .panel-default {
  border-color:#cccccc;
}
.panel .img-circle {
  width:50px;
  height:50px;
}

.panel .panel-thumbnail {
  padding:0;
}

.list-group-item:first-child,.list-group-item:last-child {
	border-radius:0;
}
h3,h4,h5 {
  border:0 solid #efefef;
  border-bottom-width:1px;
  padding-bottom:10px;
}
